.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 1fr 2fr 1fr; */
  gap: 30px 20px;
  /* padding: 20px 20px 0px 20px; */
  padding: 20px;
  border-bottom: 1px saddlebrown solid;
}

.button {
  position: relative;
  margin: 0;
  padding: 3rem;
  height: 100px;
  /* width: 150px; */
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 10px;
  color: #1d89ff;
  font-weight: 400;
  font-size: 20px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.type-post {
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.button:hover {
  animation: rotate 0.7s ease-in-out both;
}

.button:hover .type-post {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.btn-slide-line.center:after {
  left: 50%;
}
.btn-slide-line:after {
  position: absolute;
  right: 0;
  left: auto;
  transition: 0.3s;
  content: "";
  width: 0;
  bottom: 0;
  height: 3px;
  background: #164ca7;
}
.btn-slide-line:hover {
  cursor: pointer;
}
.btn-slide-line:hover:after {
  width: 100%;
  left: 0;
}

.onClick {
  background-color: #164ca7;
}

.onClick .type-post {
  color: #ffffff;
}
